.input-group-label, .input-group-field, .input-group-button, textarea {
	color: #3C3C3C;
}

fieldset {
	border: 1px solid #ededed;
	padding: 2em 1em;
}

.top-bar {
	max-width: 70rem;
	margin-left: auto;
	margin-right: auto;
	padding:0;
}

.contain-to-grid {
	background: #eee;
}

.no-spacing {
	margin: 0;
	padding: 0;
}

.clear-list {
	list-style-type: none;
}

/* Order Overview */
#order-overview .callout {
	min-height: 450px;
}

#order-overview .callout.warning {
	min-height: auto;
}

#order-overview .ordered {
	background-color: #def0fc;
}

#order-overview .ready {
	background-color: #fff3d9;
}

#order-overview .completed {
	background-color: #e1faea;
}

#order-overview .cancelled {
	background-color: #fce6e2;
}